/* element selectors */

body {
    background-color: #061130;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    padding: 20px;
}

button {
    color: white;
    background-color: #061130;
    border-radius: 7px;
    box-shadow: 10px #061130;
}

/* class selectors */

.chat-button {
    background-color: #1C4BC4;
}