/* element selectors */

body {
    background-color: #061130;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav>button {
    margin: 0 6px;
}


button {
    color: white;
    background-color: #061130;
    border-radius: 5px;
    border: none;
    box-shadow: 10px #061130;
    font-size: 1.2em;
}

main {
    display: flex;
    color: white;
    justify-content: center;
}

h1 {
    color: #FAFD61;
    font-size: 1.5em;
    margin-top: 4vh;
}

h2 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: 1.6em;
}

footer {
    background-color: white;
    margin-top: 7vh;
    justify-content: space-evenly;
}

a {
    display: flex;
    font-size: 1.2em;

}

/* class selectors */

.chat-button {
    background-color: #1C4BC4;
}

.hero {
    max-width: 35%;
    padding: 0 6px;
}

.logo {
    padding: 20px;
}

.world {
    padding: 70px;
}

.middle {
    display: flex;
    justify-content: space-evenly;
    padding: 4em;
}

.bottom {
    display: flex;
    color: black;
    background-color: #F4F6F8;
    flex-direction: column;
    align-items: center;

}